.lokasi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin-bottom: 7vw;
  gap: 3vw;
}

.lokasi iframe {
  display: flex;
  flex: 1;
  height: 25vw;
  border: 0.1vw solid var(--color1);
  border-radius: 1.2vw;
}
.lokasi article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex: 1;
  border: 0.1vw solid var(--color1);
  border-radius: 1.2vw;
}

.lokasi article h5{
    font-size: 1.3rem;
    color: var(--color1);
}

.lokasi article p{
    text-align: justify;
    width: 90%;
}

.lokasi article h5 span{
    color: var(--color5);
}


@media (max-width: 768px){
  .lokasi{
    flex-direction: column;
  }
  .lokasi iframe{
    flex: none;
    height: 60vw;
  }
}