.imgdes1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 5vw;
  gap: 3vw;
  width: 90%;
}

.imgdes2 {
  width: 35%;
}
.imgs1 {
  height: 16vw;
  width: 100%;
  border-radius: 0.7vw;
}
.heading3 {
  font-size: 1.5rem;
  text-align: center;
  color: #4e95ff;
  margin-bottom: 1vw;
}
.paragraft1 {
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}

.heading2{
    text-align: center;
}


@media (max-width: 768px) {
    .imgdes1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        width: 100%;
    }
    
    .imgdes2 {
        width: 80%;
        margin-bottom: 13vw;
    }
    
    .imgs1 {
        height: auto;
        width: 100%;
        border-radius: 2vw;
    }

    .heading2{
        margin-top: 30vw;
        font-size: 1.2rem;
    }

    .heading3{
        margin-top: 2vw;
    }
}