.komentar {
  width: 100%;
  padding-top: 5vw;
  display: flex;
  gap: 2%;
}

/* FORM KIRI */
.komentar form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  position: absolute;
  left: 0;
  /* border: 0.15vw solid var(--color1); */
}

.row1{
    display: flex;
    align-items: start;
    justify-content: right;
    flex-direction: row;
  gap: 2vw;
  width: 90%;
  position: relative;
}

.komentar input {
  width: 100%;
  height: 3vw;
  padding: 0 1%;
  font-size: 1rem;
 border: 0.15vw solid var(--color1);
  border-radius: 0.5vw;
  box-sizing: border-box;
}

.komentar textarea {
  width: 100%;
  height: 12vw;
  font-size: 1rem;
  border: 0.15vw solid var(--color1);
  border-radius: 0.5vw;
  resize: none;
  padding: 1vw;
}

.komentar form button {
  width: 100%;
 padding: 1.2vw;  
  font-size: 1rem;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  background: var(--color1);
  color: var(--still2);
}

/* KOLOM KOMENTAR KANAN */
.list-komentar {
  width: 43%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  overflow-y: auto;
/* margin-bottom: 5vw; */
  border-left: 0.15vw solid var(--color1);
  padding-right: 1vw;
  padding-left: 4vw;
  position: relative;
}

/* Lebar scrollbar */
.list-komentar::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track (jalur scrollbar) */
.list-komentar::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (tombol yang digeser) */
.list-komentar::-webkit-scrollbar-thumb {
  background: var(--color1);
  border-radius: 10rem;
}

/* Saat hover */
.list-komentar::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* BUBBLE CHAT */
.card-komentar {
 width: 100%;
 padding: 1vw;
  border-radius: 1vw;
 border: 0.15vw solid var(--color1);
 align-items: start;
 position: relative;
}

.card-komentar h4 {
  font-size: 1rem;
  margin-bottom: 0.3vw;
  color: var(--color5);
  margin-top: 0;
}

.card-komentar p {
  font-size: 1rem;
  margin-bottom: 0; 
   color: var(--color5);
}

.card-komentar span{
position: absolute;
top: 0;
right: 1vw;
}

.komentar .row1 form h6{
  color: var(--color1);
  font-size: 1.4rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.list-komentar h6{
  font-size: 1rem;
   display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color1);
  padding: 1vw 0 1vw 0;
  color: var(--still2);
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 0;
  z-index: 999;
  border-radius: 0.4vw;
  gap: 2vw;
  margin-bottom: 0.5vw;

}

@media (max-width: 768px){
.komentar{
  min-height: auto;
  margin-top: 15vw;
  margin-bottom: 10vw;
}
  .row1{
    flex-direction: column-reverse;
  }
  .list-komentar{
    width: 100%;
    height: 80vh;
  }

  .row1 form{
    width: 100%;
    height: auto;
    position: relative;
    right: 0;
  }

  .row1 form input{
    padding: 3vw;
  }

  .row1 form button{
    padding: 2vw;
  }

  .komentar textarea{
    height: 20vw;
  }
.list-komentar{
  height: 70vw;
  border-left: none;
  padding-left: 0;
}
.list-komentar h6{
  padding: 4vw 0 4vw 0;
  border-radius: 1.2vw;
  margin-bottom: 1vw;
}

.list-komentar .card-komentar{
  z-index: 888;
}

}